.form-responsive {
    width: 50vw; /* ocupa 80% da largura da viewport */
    max-width: 50vw;
    margin: 0 auto; /* centraliza horizontalmente */
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* para permitir scroll se passar do limite */

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 1rem;
        margin-bottom: 40px;
    }

    .box {
        width: 100%;
        height: 90px;
        color: #fff;
        font-size: 18px;
    }
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #F9FAFB;

    .title-area {
        display: flex;
        flex-direction: column;
    }

    .main-title {
        margin: 0;
        color: #1f2937; // cinza escuro
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;

        line-height: 30px;
        letter-spacing: 0%;
    }

    .subtitle {
        margin-top: 2px;
        color: #6b7280; // cinza claro
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0%;
    }

    .close-btn {
        background: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: #4b5563; // cinza médio
        transition: 0.2s ease;

        &:hover {
            color: #111827; // mais escuro
        }
    }
}

.divider {
    width: 100%;
    height: 2px;
    background: #e3e4e8; // cor azul igual à da imagem
    margin-bottom: 10px;
}
