<div>

  <div class="container" *ngIf="pesquisaPasso ==1 && pesquisaPassoAlertas ==0">

    <div class="image-area"></div>
    <div class="image-wrapper">
      <div class="side-label">P E S Q U I S A</div>

    </div>

    <div class="logo">

    </div>

    <div class="content">
      <h1>Olá!<br>Somos a Ipsos</h1>

      <p class="subtitle">Líder global em pesquisa de mercado!</p>

      <p>Queremos entender como foi sua experiência no posto de combustível que
        você acabou de visitar.</p>

      <p>Sua opinião é essencial para avaliarmos a qualidade dos serviços e
        identificar melhorias.</p>

      <p>Não há respostas certas ou erradas, e suas informações serão tratadas
        com
        total confidencialidade, apenas para fins de pesquisa.</p>

      <button class="btn-start" (click)="ativarPesquisa(2)">Iniciar
        pesquisa</button>
    </div>
  </div>

  <div class="form-container"
    *ngIf=" pesquisaPasso ==2 && pesquisaPassoAlertas ==0">

    <!-- HEADER -->
    <div class="header">
      <button class="back-btn" *ngIf="step > 1">←</button>
      <span></span>
      <button (click)="fechar()" class="close-btn">✕</button>
    </div>

    <!-- QUESTION -->
    <h2 class="question-title">
      Preciso identificar você.
    </h2>
    <h2 class="question-title">
      Você poderia nos informar seu CPF?
    </h2>

    <!-- OPTIONS -->
    <!-- CPF -->
    <div class="form-group">
      <label>CPF <span class="required">*</span></label>
      <input
        type="text"
        placeholder="000.000.000-00"
        [(ngModel)]="Documento"
        name="cpf"
        maxlength="14"
        (input)="onCPFInput($event)"
        (keydown)="bloquearNaoNumeros($event)">
    </div>

    <!-- BUTTON -->
    <button class="btn-inicio" (click)="validarDocumento()">Iniciar
      pesquisa</button>

  </div>

  <div style="display: none;" class="form-container"
    *ngIf="pesquisaPasso == 3 && pesquisaPassoAlertas == 0 && abilitaPesquisa">

    <!-- HEADER -->
    <div class="header">
      <button class="back-btn"
        *ngIf="step > 0"
        (click)="voltar()">←</button>

      <span>{{ step }}/{{ listQuestions.length }}</span>

      <button (click)="fechar()" class="close-btn">✕</button>
    </div>

    <!-- QUESTION -->
    <h2 class="question-title">
      {{ questaoAtual.Descricao }}
    </h2>

    <div class="option-card"
      *ngFor="let opcao of questaoAtual.ListOpcoes">

      <!-- QUANDO AINDA NÃO EXISTE OPÇÃO SELECIONADA -->
      <label>
        <input
          type="radio"
          name="opcao-{{ opcao.CodVariavel }}"
          [checked]="isOpcaoSelecionada(opcao)"
          (change)="onSelecionarOpcao(opcao)" />

        <span>{{ opcao.Descricao }}</span>
      </label>

    </div>

    <!-- BUTTON -->
    <button class="btn-next"
      (click)="prosseguir()">
      Prosseguir
    </button>

  </div>

  <div class="form-container"
   *ngIf="pesquisaPasso == 3 && pesquisaPassoAlertas == 0 && abilitaPesquisa">

    <!-- HEADER -->
    <div class="header">
      <button class="back-btn"
        *ngIf="step > 0"
        (click)="voltar()">←</button>

      <span>{{ step }}/{{ listQuestions.length }}</span>

      <button (click)="fechar()" class="close-btn">✕</button>
    </div>

    <!-- QUESTION -->
    <h2 class="question-title">
      {{ questaoAtual.Descricao }}
    </h2>

    <!-- ESCALA -->
    <div class="scale-card">
      <h3> {{ listQuestions[0]?.ListOpcoes[0]?.TituloBloco }}</h3>

      <div class="scale-row" *ngIf="questaoAtual.ListOpcoes.length >= 3">

        <!-- QUANDO AINDA NÃO EXISTE OPÇÃO SELECIONADA -->
        <label *ngFor="let opcao of questaoAtual.ListOpcoes">
          <input
            type="radio"
            name="opcao-{{ opcao.CodVariavel }}"
            [checked]="isOpcaoSelecionada(opcao)"
            (change)="onSelecionarOpcao(opcao)" />

          <span *ngIf="opcao.Opcao!='99'">{{ opcao.Opcao }}</span>
          <span *ngIf="opcao.Opcao==='99'">{{ opcao.Descricao }}</span>
        </label>

      </div>

      <div *ngIf="questaoAtual.ListOpcoes.length < 3">
        <div class="option-card"
          *ngFor="let opcao of questaoAtual.ListOpcoes">

          <!-- QUANDO AINDA NÃO EXISTE OPÇÃO SELECIONADA -->
          <label>
            <input
              type="radio"
              name="opcao-{{ opcao.CodVariavel }}"
              [checked]="isOpcaoSelecionada(opcao)"
              (change)="onSelecionarOpcao(opcao)" />

            <span>{{ opcao.Descricao }}</span>
          </label>

        </div>
      </div>

      <!-- <div class="scale-row">
        <label *ngFor="let n of firstRow">
          <input
            type="radio"
            name="escala"
            [value]="n"
            [(ngModel)]="opcaoSelecionada" />
          <span>{{ n }}</span>
        </label>
      </div>

      <div class="scale-row">
        <label *ngFor="let n of secondRow">
          <input
            type="radio"
            name="escala"
            [value]="n"
            [(ngModel)]="opcaoSelecionada" />
          <span>{{ n }}</span>
        </label>
      </div> -->
    </div>

    <button class="btn-next"
  
      (click)="prosseguir()">
      Prosseguir
    </button>
  </div>

  <div style="display: none;" class="form-container"
    *ngIf=" pesquisaPasso ==3 && pesquisaPassoAlertas ==0">

    <!-- HEADER -->
    <div class="header">
      <button class="back-btn" *ngIf="step > 1">←</button>
      <span>{{ step }}/4</span>
      <button (click)="fechar()" class="close-btn">✕</button>
    </div>

    <!-- QUESTION -->
    <h2 class="question-title">
      Com que frequência você vem a esse posto?
    </h2>

    <!-- OPTIONS -->
    <div class="option-card" *ngFor="let item of options">
      <label>
        <input type="radio" name="freq" />
        <span>{{ item }}</span>
      </label>
    </div>

    <!-- BUTTON -->
    <button class="btn-next">Prosseguir</button>

  </div>

  <div class="form-container"
    *ngIf=" pesquisaPasso ==5 && pesquisaPassoAlertas ==0">

    <!-- HEADER -->
    <div class="header">
      <button class="back-btn" *ngIf="step > 1">←</button>
      <span>{{ step }}/4</span>
      <button (click)="fechar()" class="close-btn">✕</button>
    </div>

    <!-- QUESTION -->
    <h2 class="question-title">
      Considerando o estabelecimento que você acabou de visitar,
      gostaríamos de saber sua satisfação em relação a algumas características:
    </h2>

    <div class="scale-card" *ngFor="let item of scaleQuestions">
      <h3>{{ item.title }}</h3>

      <!-- Linha 1 (1 a 5) -->
      <div class="scale-row">
        <label *ngFor="let n of firstRow">
          <input
            type="radio"
            [name]="item.name"
            [value]="n"
            [checked]="answers[item.name] === n"
            (change)="selectValue(item.name, n)" />
          <span>{{ n }}</span>
        </label>
      </div>

      <!-- Linha 2 (6 a 10) -->
      <div class="scale-row">
        <label *ngFor="let n of secondRow">
          <input
            type="radio"
            [name]="item.name"
            [value]="n"
            [checked]="answers[item.name] === n"
            (change)="selectValue(item.name, n)" />
          <span>{{ n }}</span>
        </label>
      </div>
    </div>

    <!-- BUTTON -->
    <button class="btn-next">Prosseguir</button>

  </div>

  <div class="form-container"
    *ngIf="     pesquisaPasso ==5 && pesquisaPassoAlertas ==0">

    <!-- HEADER -->
    <div class="header">
      <button class="back-btn" *ngIf="step > 1">←</button>
      <span>{{ step }}/4</span>
      <button class="close-btn">✕</button>
    </div>

    <!-- QUESTION -->
    <p class="question-title">
      A Ipsos mantém uma base de contatos para envio de convites de pesquisa
      relacionados ao segmento de postos de combustível.
    </p>

    <p class="question-title">
      Para saber mais detalhes, clique aqui.
      Você concorda com as condições descritas no link e gostaria de inserir seu
      nome, e-mail e telefone na base e receber convites para outras pesquisas?
    </p>

    <p class="question-title">
      Você poderá descadastrar-se a qualquer momento.
    </p>

    <p class="question-title">
      Caso tenha dúvidas acerca de como seus dados serão tratados, entre em
      contato com <strong>dpo.brazil</strong>.
    </p>

    <!-- OPTIONS -->
    <div class="option-card">
      <label>
        <input type="radio" name="freq" />
        <span>Sim</span>
      </label>
    </div>

    <div class="option-card">
      <label>
        <input type="radio" name="freq" />
        <span>Não</span>
      </label>
    </div>

    <!-- BUTTON -->
    <button class="btn-next">Prosseguir</button>

  </div>

  <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

  <div class="form-container form-container-alert"
    *ngIf="pesquisaPassoAlertas == 1">

    <!-- CONTENT -->
    <div class="aviso-content">

      <div class="header-alert">
        <div class="alert-icone">
        </div>
        <div>
          <button (click)="voltarPesquisa()" class="close-btn">✕</button>
        </div>
      </div>

      <h2 class="aviso-title">
        Você está prestes a sair da pesquisa.
      </h2>

      <p class="aviso-text">
        Deseja realmente sair?
      </p>

      <p class="aviso-ajuda">
        Precisa de ajuda?
        <a href="#" target="_blank">Visite nossa central de ajuda</a>
      </p>

      <button class="btn-sair" (click)="sairPesquisa()">
        Sair da pesquisa
      </button>

    </div>

  </div>

  <div class="form-container" *ngIf="pesquisaPassoAlertas == 2">

    <!-- CONTENT -->
    <div class="aviso-content-off">
      <div class="alert-icone">

      </div>

      <h2 class="aviso-title">
        Pesquisa não realizada
      </h2>

      <p class="aviso-text">
        Que pena! :(
        Esperamos você de volta em breve. :)
      </p>
    </div>

  </div>

  <div class="form-container aviso-container" *ngIf="pesquisaPassoAlertas == 3">

    <!-- HEADER -->
    <!-- <div class="header">
      <span></span>
      <button class="close-btn">✕</button>
    </div> -->

    <!-- CONTENT -->
    <div class="aviso-content-off">
      <div class="alert-icone">

      </div>

      <h2 class="aviso-title">
        Você já respondeu a pesquisa
      </h2>

      <p class="aviso-text">
        Não é possível participar no momento.
      </p>
    </div>

  </div>

  <div class="form-container" *ngIf="pesquisaPassoAlertas == 4">

    <!-- CONTENT -->
    <div class="aviso-content-off">
      <div class="alert-sucesso">

      </div>

      <h2 class="aviso-title">
        Pesquisa realizada
      </h2>

      <p class="aviso-text">
        Agradecemos a sua participação na pesquisa.
        Sua opinião é muito importante para nós!
      </p>
    </div>

  </div>

</div>
