* {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.cpf-invalido {
  border: 2px solid #e53935;
  outline: none;
}

.cpf-invalido:focus {
  box-shadow: 0 0 0 2px rgba(229, 57, 53, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  top: -90px;

  background: transparent;
}

.container {
  position: relative;
  top: -40px;
  max-width: 490px;
  margin: 0 auto;
  height: 72%;
  background-image: url(../../../assets/icones/img-pesquisa.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

/* ---------------- IMAGEM SUPERIOR ---------------- */
.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1.25; /* mantém proporção EXACTA sem distorcer */
  // display: flex;
  // align-items: flex-start;
  // justify-content: center;
}

/* Responsivo em todas telas */
.image-area {
  // width: 100%;
  // height: 100%;
  // background-image: url(../../../assets/icones/img-pesquisa.svg);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: top center;
}

/* ---------------- LABEL VERTICAL ---------------- */
.side-label {
  position: absolute;
  left: -10px;
  top: 70%;
  transform: translateY(-50%) rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #475467;

  font-weight: 400;
  font-style: Regular;
  font-size: 13px;

  line-height: 24px;
  letter-spacing: 30%;
  vertical-align: middle;
  text-transform: uppercase;
}

/* ---------------- LOGO ---------------- */
.logo {
  margin: 20px 0;
  width: 48px;
  height: 48px;
  background-image: url(../../../assets/login/Regular.svg);
  background-repeat: no-repeat;
}

/* ---------------- TEXTO ---------------- */
h1 {
  font-size: clamp(26px, 6vw, 34px);
  color: #475467;
  margin-bottom: 12px;
  font-weight: 800;
  font-style: Extra Bold;
  line-height: 50px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.subtitle {
  font-size: clamp(14px, 3.5vw, 17px);
  color: #475467;
  margin-bottom: 18px;
  font-weight: 500;
  font-style: Medium;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

p {
  font-size: clamp(14px, 3.5vw, 16px);
  color: #667085;
  line-height: 1.55;
  margin-bottom: 14px;
  font-weight: 400;
  font-style: Regular;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* ---------------- BOTÃO ---------------- */
.btn-start {
  margin-top: 28px;
  background: #0a58ff;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: clamp(15px, 4vw, 18px);
  cursor: pointer;
}

/* ---------------- AJUSTES POR BREAKPOINT ---------------- */
@media (max-width: 430px) {
  .container {
    padding: 18px;
  }

  .side-label {
    left: -6px;
  }
}

@media (min-width: 900px) {
  .image-wrapper {
    aspect-ratio: 1.35;
  }
}

/////////////////////////////////////////////////////////////////////
///
///
///
/* Containers principais */
.form-container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--Primary-Gray-25, #fefefe);

  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(16px, 2.8vw, 20px);
    margin-bottom: 25px;
    border-bottom: 1px solid var(--Border-Platinum, #e3e4e8);
    background: var(--Primary-Gray-50, #f9fafb);

    height: 72px;
    opacity: 1;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
  }

  .back-btn,
  .close-btn {
    background: none;
    border: none;
    font-size: clamp(18px, 4vw, 24px);
    cursor: pointer;
  }

  /* Título da pergunta */
  .question-title {
    font-size: clamp(18px, 4vw, 22px);
    margin-bottom: 20px;
    color: #374659;
    line-height: 2px;
    font-weight: 600;

    line-height: 30px;
    letter-spacing: 2%;
    vertical-align: middle;
  }

  /* Cards clicáveis */
  .option-card {
    width: 100%;

    margin-bottom: 14px;
    transition: 0.2s;
    height: 92px;
    opacity: 1;
    padding: 20px;
    gap: 12px;
    border-radius: 16px;
    border-width: 1px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: var(--Primary-Gray-50, #f9fafb);
    border: 1px solid var(--Border-Platinum, #e3e4e8);
  }

  .option-card:hover {
    border-color: #0a58ff;
  }

  .option-card label {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  .option-card input {
    width: 20px;
    height: 20px;
  }

  /* Botão */
  .btn-next {
    margin-top: auto;
    background: #0a58ff;
    border: none;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    font-size: clamp(16px, 4vw, 18px);
    cursor: pointer;
    width: 100%;
  }

  .btn-inicio {
    margin-top: auto;
    background: var(--Primary-Gray-300, #d0d5dd);

    border: none;
    padding: 16px;
    border-radius: 8px;
    color: #1d2939;
    font-size: clamp(16px, 4vw, 18px);
    cursor: pointer;
    width: 100%;
  }

  .btn-sair {
    background: #d92d20;
    border: none;
    padding: 16px;
    border-radius: 8px;
    color: #fefefe;
    font-size: clamp(16px, 4vw, 18px);
    cursor: pointer;
    width: 60%;
  }

  /////////////////////////////////////////////////////////////////////////////////

  .scale-card {
    background: #ffffff;
    border: 1px solid #e6e9f0;
    border-radius: 14px;
    padding: 18px 22px;
    margin-bottom: 18px;
  }

  .scale-card h3 {
    font-size: clamp(16px, 4vw, 18px);
    color: #475467;
    margin-bottom: 14px;

    font-weight: 600;
    font-style: Bold;

    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .sub-title {
    font-weight: 700;
    font-style: Bold;
    font-size: clamp(24px, 4vw, 18px);
    color: #475467;
    margin-bottom: 24px;
  }

  .scale-row {
    display: flex;
    justify-content: space-between;
    gap: 26px;
    margin-bottom: 10px;
    flex-wrap: wrap; /* permite quebrar linha */
  }

  @media (max-width: 768px) {
    .scale-row {
      gap: 0; /* remove o gap no mobile */
    }

    .scale-row .scale-label:last-child {
      flex-basis: 100%; /* última opção na linha de baixo */
      margin-top: 10px;
      align-items: flex-end;
    }
  }

  .scale-row label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    cursor: pointer;
    color: #475467;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
 
  }

  /* Radio padrão igual ao da imagem */
  .scale-row input[type="radio"] {
    width: 17px;
    height: 17px;
    accent-color: #2563eb; /* Azul do botão */
    cursor: pointer;
  }

  .scale-label {
    display: flex;
    flex-direction: column; /* número em cima */
    align-items: center;
    gap: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #475467;

   // flex: 0 0 calc((100% / 6) - 26px); /* 6 por linha */
  }

  .scale-number {
    font-size: 14px;
    color: #667085;
    line-height: 1;
  }

  /* Radio padrão igual ao layout */
  .scale-label input[type="radio"] {
    width: 17px;
    height: 17px;
    accent-color: #2563eb;
    cursor: pointer;
  }

  /* Responsivo */
  @media (max-width: 600px) {
    .scale-row {
      // gap: 20px;
    }

    .scale-card {
      padding: 16px;
    }

    .scale-card h3 {
      font-size: 15px;
    }
  }
}

.form-container-alert {
  min-height: 560px !important;
  height: 560px !important;
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.aviso-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ffffff;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-alert {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* CONTENT */
.aviso-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  width: 50%;
  height: 600px;
  margin: auto;
  opacity: 1;
  gap: 32px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 8px 8px -4px #10182808;
  box-shadow: 0px 20px 24px -4px #10182814;
}

.aviso-content-off {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ICON */
.aviso-icon {
  font-size: 42px;
  margin-bottom: 16px;
  color: #e53935;
}

/* TEXTS */
.aviso-title {
  color: #374659;
  margin-bottom: 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.aviso-text {
  font-size: 14px;
  color: #475467;
  font-family: "Poppins";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;

  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
