Use BHTNestleGrupo

/****** Object:  Table [dbo].[tblBanco]    Script Date: 8/24/2023 2:07:33 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblBanco]') AND type in (N'U'))
DROP TABLE [dbo].[tblBanco]
GO
/****** Object:  Table [dbo].[tblBanco]    Script Date: 8/24/2023 2:07:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBanco](
	[CodBanco] [int] IDENTITY(1,1) NOT NULL,
	[NomeBanco] [varchar](50) NULL,
	[DB] [varchar](50) NULL,
	[Ordem] [int] NULL,
	[FlagAtivo] [tinyint] NULL,
 CONSTRAINT [PK_tblBanco] PRIMARY KEY CLUSTERED 
(
	[CodBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblBanco] ON 

INSERT [dbo].[tblBanco] ([CodBanco], [NomeBanco], [DB], [Ordem], [FlagAtivo]) VALUES (1, N'Leite Infantil', N'BHTNestleLeiteInfantil', 1, 1)
INSERT [dbo].[tblBanco] ([CodBanco], [NomeBanco], [DB], [Ordem], [FlagAtivo]) VALUES (2, N'Chocolates', N'BHTNestleChocolates', 2, 1)
INSERT [dbo].[tblBanco] ([CodBanco], [NomeBanco], [DB], [Ordem], [FlagAtivo]) VALUES (3, N'Formula Infantil', N'BHTNestleFormulaInfantil', 3, 1)
SET IDENTITY_INSERT [dbo].[tblBanco] OFF
GO
