USE [BHTNestleLeiteCondensado]
GO
/****** Object:  StoredProcedure [dbo].[pr_Lista_Traducao]    Script Date: 8/25/2023 2:43:58 PM ******/
DROP PROCEDURE [dbo].[pr_Lista_Traducao]
GO
ALTER TABLE [dbo].[tblTraducaoIdioma] DROP CONSTRAINT [FK_tblIdioma_tblIdioma]
GO
ALTER TABLE [dbo].[tblTraducaoComponenteObjetoTraducao] DROP CONSTRAINT [FK_tblTraducaoComponenteObjetoTraducao_tblTraducaoComponenteObjetoTraducao]
GO
/****** Object:  Table [dbo].[tblTraducaoIdioma]    Script Date: 8/25/2023 2:43:58 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblTraducaoIdioma]') AND type in (N'U'))
DROP TABLE [dbo].[tblTraducaoIdioma]
GO
/****** Object:  Table [dbo].[tblTraducaoFiltros]    Script Date: 8/25/2023 2:43:58 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblTraducaoFiltros]') AND type in (N'U'))
DROP TABLE [dbo].[tblTraducaoFiltros]
GO
/****** Object:  Table [dbo].[tblTraducaoComponenteObjetoTraducao]    Script Date: 8/25/2023 2:43:58 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblTraducaoComponenteObjetoTraducao]') AND type in (N'U'))
DROP TABLE [dbo].[tblTraducaoComponenteObjetoTraducao]
GO
/****** Object:  Table [dbo].[tblTraducaoComponenteObjetoTraducao]    Script Date: 8/25/2023 2:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTraducaoComponenteObjetoTraducao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdiomaId] [int] NOT NULL,
	[Objeto] [nvarchar](150) NOT NULL,
	[Texto] [nvarchar](2000) NULL,
 CONSTRAINT [PK_tblTraducaoComponenteObjetoTraducao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTraducaoFiltros]    Script Date: 8/25/2023 2:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTraducaoFiltros](
	[CodIdioma] [int] NOT NULL,
	[CodFiltro] [int] NOT NULL,
	[CodOpcaoFiltro] [int] NOT NULL,
	[DescFiltro] [varchar](100) NULL,
 CONSTRAINT [PK_tblTraducaoFiltros] PRIMARY KEY CLUSTERED 
(
	[CodIdioma] ASC,
	[CodFiltro] ASC,
	[CodOpcaoFiltro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTraducaoIdioma]    Script Date: 8/25/2023 2:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTraducaoIdioma](
	[CodIdioma] [int] IDENTITY(1,1) NOT NULL,
	[DescIdioma] [varchar](50) NULL,
	[SiglaIdioma] [varchar](10) NULL,
	[FlagAtivo] [tinyint] NULL,
 CONSTRAINT [PK_tblIdioma] PRIMARY KEY CLUSTERED 
(
	[CodIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblTraducaoComponenteObjetoTraducao] ON 

INSERT [dbo].[tblTraducaoComponenteObjetoTraducao] ([Id], [IdiomaId], [Objeto], [Texto]) VALUES (1, 1, N'login.titulo', N'Iniciar Sessão')
INSERT [dbo].[tblTraducaoComponenteObjetoTraducao] ([Id], [IdiomaId], [Objeto], [Texto]) VALUES (2, 1, N'login.sub-titulo', N'Informe seu Usuário e senha para acessar o portal.')
INSERT [dbo].[tblTraducaoComponenteObjetoTraducao] ([Id], [IdiomaId], [Objeto], [Texto]) VALUES (3, 1, N'login.usuario', N'Usuário')
GO
SET IDENTITY_INSERT [dbo].[tblTraducaoComponenteObjetoTraducao] OFF
GO
INSERT [dbo].[tblTraducaoFiltros] ([CodIdioma], [CodFiltro], [CodOpcaoFiltro], [DescFiltro]) VALUES (1, 2, 1, N'0-3 months')
INSERT [dbo].[tblTraducaoFiltros] ([CodIdioma], [CodFiltro], [CodOpcaoFiltro], [DescFiltro]) VALUES (1, 2, 2, N'4-6 months')
INSERT [dbo].[tblTraducaoFiltros] ([CodIdioma], [CodFiltro], [CodOpcaoFiltro], [DescFiltro]) VALUES (1, 2, 3, N'7-9 months')
GO
SET IDENTITY_INSERT [dbo].[tblTraducaoIdioma] ON 

INSERT [dbo].[tblTraducaoIdioma] ([CodIdioma], [DescIdioma], [SiglaIdioma], [FlagAtivo]) VALUES (1, N'Portugues', N'por', 1)
INSERT [dbo].[tblTraducaoIdioma] ([CodIdioma], [DescIdioma], [SiglaIdioma], [FlagAtivo]) VALUES (2, N'Ingles', N'ing', 1)
INSERT [dbo].[tblTraducaoIdioma] ([CodIdioma], [DescIdioma], [SiglaIdioma], [FlagAtivo]) VALUES (3, N'Espanhol', N'esp', 1)
SET IDENTITY_INSERT [dbo].[tblTraducaoIdioma] OFF
GO
ALTER TABLE [dbo].[tblTraducaoComponenteObjetoTraducao]  WITH CHECK ADD  CONSTRAINT [FK_tblTraducaoComponenteObjetoTraducao_tblTraducaoComponenteObjetoTraducao] FOREIGN KEY([IdiomaId])
REFERENCES [dbo].[tblTraducaoIdioma] ([CodIdioma])
GO
ALTER TABLE [dbo].[tblTraducaoComponenteObjetoTraducao] CHECK CONSTRAINT [FK_tblTraducaoComponenteObjetoTraducao_tblTraducaoComponenteObjetoTraducao]
GO
ALTER TABLE [dbo].[tblTraducaoIdioma]  WITH CHECK ADD  CONSTRAINT [FK_tblIdioma_tblIdioma] FOREIGN KEY([CodIdioma])
REFERENCES [dbo].[tblTraducaoIdioma] ([CodIdioma])
GO
ALTER TABLE [dbo].[tblTraducaoIdioma] CHECK CONSTRAINT [FK_tblIdioma_tblIdioma]
GO
/****** Object:  StoredProcedure [dbo].[pr_Lista_Traducao]    Script Date: 8/25/2023 2:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
create  proc [dbo].[pr_Lista_Traducao]  
 @idiomaId int  
 as  
  BEGIN
--'por'  1  
--'ing'  2  
--'esp'  3  
  
  
  select Objeto as objeto, Texto as valor from tblTraducaoComponenteObjetoTraducao t1 with(nolock)  
  JOIN tblTraducaoIdioma t2 with(nolock)  ON t1.IdiomaId = t2.CodIdioma
  where t2.CodIdioma = @idiomaId
  END
GO
