<!-- MENU CENTRAL PARINA ESCOLHAS  -->
<div class="base-sidebar-home">

  <div class="container-sidebar-home">


    <ng-container *ngFor="let item of listAcessos;let i = index">

      <div class="grupo-menu-home" (click)="openPortalSelect(item.CodBanco)">
        <div class="container-icone-menu">
          <div class="home-awareness-inativo">
          </div>
        </div>
        <div class="titulo-menu-inativo">
          {{item.NomeBanco}}</div>
      </div>

    </ng-container>



    <!-- <div class="grupo-menu-home" (click)="selecionaMenu(8)">
      <div class="container-icone-menu">
        <div class="home-awareness-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu8' | translate}}</div>
    </div>


    <div class="grupo-menu-home" (click)="selecionaMenu(3)">
      <div class="container-icone-menu">
        <div class="home-funill-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu3' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(4)">
      <div class="container-icone-menu">
        <div class="home-imagem-pura-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu4' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(5)">
      <div class="container-icone-menu">
        <div class="home-posicao-marca-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu5' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(6)">
      <div class="container-icone-menu">
        <div class="home-brand-creator-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu6' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(7)">
      <div class="container-icone-menu">
        <div class="home-comunicacao-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu7' | translate}}</div>
    </div>

    <div class="grupo-menu-home" (click)="selecionaMenu(9)">
      <div class="container-icone-menu">
        <div class="home-imagem-pura-inativo">
        </div>
      </div>
      <div class="titulo-menu-inativo">
        {{'sidebar.menu9' | translate}}</div>
    </div> -->


  </div>

</div>