
<div class="popup-dialog-content">


  <div>
    <div class="header-dialog">

      <ng-container [ngSwitch]="typeDialog">
        <ng-content *ngSwitchCase="0"> <!--Transcription-->
          <div class="icone-warning-dialog"></div>
        </ng-content>
        <ng-content *ngSwitchCase="1"> <!--Transcription-->
          <div class="icone-warning-dialog"></div>
        </ng-content>

        <ng-content *ngSwitchCase="3"> <!--Transcription-->
          <div class="icone-warning-dialog"></div>
        </ng-content>

        <ng-content *ngSwitchCase="5"> <!--Transcription-->
          <div class="icone-warning-dialog"></div>
        </ng-content>

        <ng-content *ngSwitchCase="10"> <!--Transcription-->
          <div class="icone-warning-dialog"></div>
        </ng-content>

        <div class="title-popup">{{titlePopup}}</div>

        <div *ngIf="typeDialog==5" mat-dialog-close class="icone-close-dialog"></div>


      </ng-container>


    </div>

    <mat-dialog-content class="mat-typography">
      <div class="container-principal">

        <ng-container [ngSwitch]="typeDialog">

          <ng-content *ngSwitchCase="0">
            <div class="title" [innerHTML]="textOrAudio"></div>
            <div class="row mx-0">

              <div class="col-md-12">
                <button mat-dialog-close class="btn" style="width: 200px; " (click)="closeDialog()">Ok</button>
              </div>

            </div>
          </ng-content>

          <ng-content *ngSwitchCase="1"> <!--Transcription-->
            <!-- <div class="title" [innerHTML]="textOrAudio"></div> -->

            <div class="row mx-0">

              <div class="col-md-6">
                <button class="btn" (click)="aprovar()" style="width: 200px;">Sim</button>
              </div>
              <div class="col-md-6">
                <button mat-dialog-close class="btn-cancel" style="width: 200px;">Não</button>
              </div>



            </div>
          </ng-content>

          <ng-content *ngSwitchCase="2"> <!--audio-->

            <div class="base-popup-info">

              <div class="icon-confirm ">

              </div>
              <div class="title-central" [innerHTML]="textOrAudio"></div>

            </div>

            <div class="row mx-0">

              <div class="col-md-12" style="
              display: flex;
              justify-content: center;
              padding-top: 32px;
          ">
                <!-- <button mat-dialog-close class="btn" style="width: 200px;">Ir para aprovaçoes</button> -->

                <div mat-dialog-close class="btn-return">Ir para aprovaçoes</div>
              </div>

            </div>

          </ng-content>

          <ng-content *ngSwitchCase="3"> <!--audio-->

            <div class="base-popup-info">

              <div class="row">
                <div class="col-md-12">
                  <label>
                    Motivo
                    <textarea class="form-control form-control-text-area" [(ngModel)]="textObservacao"
                      placeholder="Observação" rows="3"></textarea>
                  </label>
                  <label style="color: red;" *ngIf="observacaoEstaVazia()">Campo Obrigatório</label>
                </div>
              </div>

            </div>

            <div class="row mx-0">

              <div class="col-md-12" style="
              display: flex;
              justify-content: center;
              padding-top: 32px;
          ">
                <!-- <button mat-dialog-close class="btn" style="width: 200px;">Ir para aprovaçoes</button> -->


              </div>

              <div class="row mx-0">
                <div class="col-md-6">
                  <button class="btn" [disabled]="observacaoEstaVazia()" (click)="aprovar()" style="width: 200px;">Sim</button>
                </div>
                <div class="col-md-6">
                  <button mat-dialog-close class="btn-cancel" style="width: 200px;">Não</button>
                </div>


              </div>

            </div>

          </ng-content>

          <ng-content *ngSwitchCase="4"> <!--audio-->

            <div class="base-popup-info">

              <div class="icon-confirm ">

              </div>
              <div class="title-central" [innerHTML]="textOrAudio"></div>

            </div>

            <div class="row mx-0">

              <div class="col-md-12" style="
              display: flex;
              justify-content: center;
              padding-top: 32px;
          ">

                <div mat-dialog-close class="btn-return">Ok</div>

              </div>

            </div>



          </ng-content>

          <ng-content *ngSwitchCase="5"> <!--audio-->

            <div class="base-popup-info" style="position: relative;top: -21px;">

              <ng-container *ngFor="let mensagem of mensagensErro">
                <div class="row">
                  <div class="col-md-12">
                    <label style="color: red;">{{mensagem}}</label>
                  </div>
                </div>
              </ng-container>

            </div>

            <!-- <div class="row mx-0">
              <div mat-dialog-close class="btn-return">Ok</div>
            </div> -->




          </ng-content>

          <ng-content *ngSwitchCase="10"> <!--audio-->

            <div class="base-popup-info">

              <div class="row">
                <div class="col-md-12">
                  <label>
                    Confirma a entrega do serviço/produtos?
                    <textarea class="form-control form-control-text-area" [(ngModel)]="textObservacao"
                      placeholder="Observação" rows="3"></textarea>
                  </label>
                  <label style="color: red;" *ngIf="!textObservacao">Campo Obrigatório</label>
                </div>
              </div>

            </div>

            <div class="row mx-0">

              <div class="col-md-12" style="
              display: flex;
              justify-content: center;
              padding-top: 32px;
          ">
                <!-- <button mat-dialog-close class="btn" style="width: 200px;">Ir para aprovaçoes</button> -->


              </div>

              <div class="row mx-0">
                <div class="col-md-6">
                  <button class="btn" (click)="aprovar()" style="width: 200px;">Sim</button>
                </div>
                <div class="col-md-6">
                  <button mat-dialog-close class="btn-cancel" style="width: 200px;">Não</button>
                </div>



              </div>

            </div>

          </ng-content>

          <ng-container *ngSwitchCase="99">
            <div class="popup-dialog-content edicao-modal-valor">
              <div class="header-dialog">
                <div class="icone widgets"></div>
                <div class="title-popup">{{ titlePopup || 'Editar Valor' }}</div>
              </div>

              <mat-dialog-content class="mat-typography">
                <div class="container-principal" *ngIf="typeDialog === 99">
                  <div class="form-group">
                    <label for="valor">Novo valor para: <strong>{{ descricao }}</strong> - <strong>{{ mes | uppercase }}</strong></label>
                    <input
                    type="text"
                    id="valor"
                    class="form-control"
                    [(ngModel)]="valorEditado"
                    (input)="formatarValorNumerico($event)"
                    (keydown.enter)="salvarEdicao()"
                    autofocus
                  />

                  </div>

                  <div class="row mt-4 d-flex justify-content-around">
                    <button class="btn btn-primary" (click)="salvarEdicao()">Salvar</button>
                    <button class="btn btn-secondary" mat-dialog-close (click)="closeDialog()">Cancelar</button>
                  </div>
                </div>
              </mat-dialog-content>
            </div>

          </ng-container>



        </ng-container>
      </div>
    </mat-dialog-content>
  </div>





  <!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn-cancelar">Cancelar ação</button>

    <button mat-button cdkFocusInitial class="btn-enviar">Aprovar e
      enviar</button>
  </mat-dialog-actions> -->
</div>
