.popup-wrapper {
    display: flex;
    padding: 40px 50px;
    background: #ffffff;
    border-radius: 20px;

    width: 610px;
    min-height: 163px;
    border-radius: 12px;
    padding: 24px;
    opacity: 1;

    min-height: 240px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.06);
    position: relative;
    overflow: hidden;
}

/* Ondas de fundo */
.popup-wrapper::before {
    content: "";
    position: absolute;
    left: -120px;
    top: -120px;
    width: 500px;
    height: 500px;
    background: radial-gradient(
        circle,
        rgba(243, 72, 72, 0.18) 0%,
        rgba(243, 72, 72, 0.12) 30%,
        rgba(243, 72, 72, 0.06) 55%,
        rgba(243, 72, 72, 0.02) 75%,
        transparent 95%
    );
    border-radius: 50%;
    pointer-events: none;
}

.left-area {
    width: 96px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.icon-circle {
    width: 95px;
    height: 95px;
    background: rgba(243, 72, 72, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-inner {
    width: 55px;
    height: 55px;
    background: #ffb1b1;
    border-radius: 50%;
    border: 2px solid #d94141;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-inner span {
    color: #d94141;
    font-size: 28px;
    font-weight: 700;
}

.right-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    height: 10pxs;
    color: #1d2939;
    margin: 0 0 8px;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    letter-spacing: 0%;
}

.subtitle {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;

    letter-spacing: 0%;
    color: #667085;
    margin-bottom: 40px;
}

/* Botões */
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.buttons-ok {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    right: 40px;
}

.btn-text {
    background: transparent;
    border: none;
    font-size: 18px;
    color: #1c1c1e;
    cursor: pointer;
}

.btn-primary-p {
    background: #2a57db;
    border: none;
    padding: 14px 38px;
    color: white;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    height: 58px;
}

.btn-primary:hover {
    opacity: 0.9;
}

.base-popup-info {
    margin-top: 20px;
}

/* Wrapper exclusivo da opção 10 */
.popup-wrapper-10 {
    width: 460px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: #ffffff00;
    position: relative;
    z-index: 5;
    font-family: "Poppins", sans-serif;

    /* Container interno */
    .popup-success-10 {
        text-align: center;
        max-width: 460px;
    }

    /* Ícone */
    .icon-area-10 {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .icon-circle-10 {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        background: #2d6cff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 36px;
        font-weight: 600;
        box-shadow: 0 0 0 10px rgba(45, 108, 255, 0.12);
    }

    .check-10 {
        margin-top: -2px;
    }

    /* Link inferior */
    .link-button-10 {
        background: transparent;
        border: none;
        color: #1d2939;
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;

        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0%;
    }
}

.icon-circle-thunder {
    background-image: url(../../../assets/icones/thunder-icone.svg) !important;
    background-repeat: no-repeat !important;
    width: 58px;
    height: 58px;
}

.alert-war {
    background-image: url(../../../assets/icones/alert-war.svg) !important;
    background-repeat: no-repeat !important;
    width: 58px;
    height: 58px;
}
