<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div class="container-dashboard">

    <div class="card" id="nps-comparativo-card">
        <div class="container-card">
            <div class="header-card">
                <div class="container-title">
                    <div class="title">
                        NPS comparativo por Experiencia
                    </div>
                    <div class="legend">
                        Datos en %
                    </div>
                </div>
                <div class="container-export">
                    <div class="icon-export">
                        <div class="icon-excel">
                        </div>
                        <div class="titulo-exportar">Exportar</div>
                    </div>
                    <div class="icon-export">
                        <div class="icon-powerpoint">
                        </div>
                        <div class="titulo-exportar">Exportar</div>
                    </div>
                 </div>
            </div>

            <div class="content-card p-relative" >
                <div class="container-legenda">
                    <div class="container-texto">
                        <div class="sinal-roxo"></div>
                        <div class="texto-legenda">Awareness - TOM</div>
                    </div>
                    <div class="container-texto">
                        <div class="sinal-roxo-claro"></div>
                        <div class="texto-legenda">Spontaneous - OM</div>
                    </div>
                    <div class="container-texto">
                        <div class="sinal-cinza-claro"></div>
                        <div class="texto-legenda">Prompeted</div>
                    </div>
                    <div class="container-texto">
                        <div class="sinal-verde"></div>
                        <div class="texto-legenda">Total Awareness</div>
                    </div>
                </div>



            </div>

            <div class="content-card">
                <app-aviso-sem-dados></app-aviso-sem-dados>
            </div>
        </div>
    </div>



</div>

<footer-bottom></footer-bottom>