@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "@ng-select/ng-select/themes/default.theme.css";

:root {
  --color-green: #0fafa9;
  --color-yellow: #ffb200;
  --color-red: #ff3a29;
}

@font-face {
  font-family: "Gotham Rounded";
  font-style: normal;
  font-weight: 700;
  src: local("Gotham Rounded"), local("GothamRounded-Bold"),
    url("/assets/font/GothamRoundedBold_21016.ttf") format("truetype");
}

// Importar Fonte do cliente se preciso aqui !
// @font-face {
//   font-family: "Fonte_Cliente";
//   src: url("./assets/fonts/Fonte-Cliente-Regular.otf") format("truetype");
// }

body {
  font-family: "Poppins";
  margin: 0;
  background: #f7f8fc !important;
}

.scroll {
  overflow-x: auto;
  padding-bottom: 12px;
}

/* Largura */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c9c9c9;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 10px;
}

/* Handle no hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

[_ngcontent-sng-c99]::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

// CUSTOMIZAÇÃO DROP
::ng-deep .ng-select .ng-select-container {
  height: 40px;
  border: 0px solid;

  @media screen and (max-width: 1020px) {
    width: 90% !important;
  }
}

// STYLES DASHBOARD

.container-dashboard,
.container-dashboard-top-auto {
  background: #f7f8fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 83px 36px 0 123px;
  margin-bottom: 46px;
  width: auto;

  @media screen and (max-width: 1020px) {
    overflow-x: hidden;
    padding: 88px 41px 0 41px;
  }
}

.container-dashboard-top-auto {
  padding: 8px 41px 0 120px !important;

  @media screen and (max-width: 1020px) {
    overflow-x: hidden;
    padding: 16px 36px 0 26px !important;
  }
}

.container-dashboard-duplo,
.container-dashboard-duplo-base,
.container-dashboard-vista {
  background: #f7f8fc;
  display: flex;
  align-items: center;
  padding: 80px 18px 0 95px;
  width: auto;

  @media screen and (max-width: 1020px) {
    overflow-x: hidden;
    padding: 88px 41px 0 0px;
    display: block;
  }
}

.container-dashboard-duplo-base {
  padding: 8px 16px 8px 98px;

  @media screen and (max-width: 1020px) {
    overflow-x: hidden;
    padding: 88px 41px 0 0px;
    display: block;
  }
}

.container-dashboard-vista {
  padding: 0px 16px 78px 98px;
  @media screen and (max-width: 1020px) {
    overflow-x: hidden;
    padding: 88px 41px 0 0px;
    display: block;
  }
}

.container-menu-central {
  background: #f7f8fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 0px 0px 0px;
  margin-bottom: 46px;
  width: auto;

  @media screen and (max-width: 1020px) {
    overflow-x: hidden;
  }
}

// FINAL STYLES DASHBOARD

.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
  @media screen and (max-width: 1020px) {
    overflow: auto;
  }
}

.card-medio {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 100%;
  margin: 4px;
  min-height: 475px;
  max-height: 475px;
  @media screen and (max-width: 1020px) {
    overflow: auto;
    max-height: 1050px;
    width: 100%;
  }
}

.card-longo {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 650px;
  margin: 4px;
  min-height: 650px;
  max-height: 650px;
  @media screen and (max-width: 1020px) {
    overflow: auto;
    max-height: 1050px;
    width: 100%;
  }
}

.card-pequeno-alongado {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 16px;
  width: 36%;
  height: 650px;
  min-height: 650px;
  max-height: 650px;
  margin-left: 8px;
  @media screen and (max-width: 1020px) {
    overflow: auto;
    margin-left: 0px;
    width: 100%;
  }
}

.card-pequeno {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 16px;
  width: 36%;
  height: 100%;
  min-height: 459px;
  max-height: 459px;
  margin-left: 10px;
  @media screen and (max-width: 1020px) {
    overflow: auto;
    margin-left: 0px;
    width: 100%;
  }
}

.card-mobile {
  @media screen and (max-width: 1020px) {
    width: 900px;
  }
}

.container-card {
  display: flex;
  flex-direction: column;
}

.descricao-base {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: red;
  height: 0px;
}

.header-card {

  @media screen and (max-width: 1020px) {
    display: grid;
  }

  display: flex;
  flex-direction: row;

  .container-title {
    display: flex;
    flex-direction: column;

    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #1b212d;
    }

    .legend {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: #6e778b;
      height: 20px;
    }
    .legend-sub {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #1b212d;
      // padding-bottom: 7px;
      display: flex;
    }
  }

  .container-export {

    @media screen and (max-width: 1020px) {
      margin-left: 0px;
  }

    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 50%;

    // @media screen and (max-width: 900px) {
    //   display: none;
    // }

    .icon-excel {
      color: #34b53a;
      margin-right: 8px;
      background-image: url(./assets/icones/icone-excel.svg) !important;
      background-repeat: no-repeat !important;
      width: 11px;
      height: 17px;
    }

    .icon-powerpoint {
      color: #ffb200;
      margin-right: 8px;
      background-image: url(./assets/icones/icone-ppt.svg) !important;
      background-repeat: no-repeat !important;
      width: 11px;
      height: 17px;
    }

    .icon-export {
      @media screen and (max-width: 900px) {
        display: none;
      }

      align-items: center;
      background: #fefefe;
      border: 1px solid #f8f8f8;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 12px;
      font-size: 14px;

      justify-content: center;
      display: flex;
      // width: 92px;
      height: 32px;
      border-radius: 4px;
      margin-left: 8px;
      cursor: pointer !important;
    }
  }
}

.titulo-exportar {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6e778b;
}

.p-relative {
  position: relative;
}

.container-legenda {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
  // padding-bottom: 20px;
}
.container-texto {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-right: 24px;

  .sinalsinalCtl {
    height: 10px;
    width: 10px;
    border-radius: 10px;
  }

  .texto-legenda {
    font-family: Poppins !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #302525;
    margin-left: 8px;
  }
}

.container-legenda {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
  padding-bottom: 20px;
}

.container-legenda .container-texto {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.container-legenda .container-texto .texto-legenda {
  font-family: Poppins !important;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #302525;
  margin-left: 8px;
}

.container-legenda .container-texto .sinal,
.container-legenda .container-texto .sinal-amarelo,
.container-legenda .container-texto .sinal-azul,
.container-legenda .container-texto .sinal-azul-claro,
.container-legenda .container-texto .sinal-azul-escuro,
.container-legenda .container-texto .sinal-cinza-claro,
.container-legenda .container-texto .sinal-cinza-normal,
.container-legenda .container-texto .sinal-laranja,
.container-legenda .container-texto .sinal-preto,
.container-legenda .container-texto .sinal-roxo-escuro,
.container-legenda .container-texto .sinal-roxo,
.container-legenda .container-texto .sinal-roxo-claro,
.container-legenda .container-texto .sinal-verde,
.container-legenda .container-texto .sinal-white,
.container-legenda .container-texto .sinal-verde-claro,
.container-legenda .container-texto .sinal-verde-escuro,
.container-legenda .container-texto .sinal-vermelho,
.container-legenda .container-texto .sinal-vermelho-escuro,

.container-legenda .container-texto .sinal-azul-leg-1,
.container-legenda .container-texto .sinal-azul-leg-2,
.container-legenda .container-texto .sinal-azul-leg-3,
.container-legenda .container-texto .sinal-azul-leg-4,
.container-legenda .container-texto .sinal-azul-leg-5

{
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.sinal-azul-claro {
  background-color: #56ccf2;
}

.sinal-azul-escuro {
  background-color: #00448d;
}

.sinal-roxo-escuro {
  background-color: #3d164e;
}

.sinal-roxo {
  background-color: #7a3796;
}

.sinal-roxo-claro {
  background-color: #b379cb;
}

.sinal-laranja {
  background-color: #f2994a;
}

.sinal-azul {
  background-color: #2f80ed;
}

.sinal-cinza-claro {
  background-color: #bfbfbf;
}

.sinal-white {
  background-color: #fff;
}

.sinal-verde {
  background-color: #0fafa9;
}

.sinal-preto {
  background-color: #000;
}

.sinal-amarelo {
  background-color: #ffb200;
}

.sinal-vermelho {
  background-color: #ff3a29;
}

.sinal-cinza-normal {
  background-color: #787676;
}

.sinal-vermelho-escuro {
  background-color: #be0712;
}

.sinal-verde-claro {
  background-color: #94ce58;
}

.sinal-verde-escuro {
  background-color: #1aae54;
}



.sinal-azul-leg-1 {
  background-color: #4169E1;
}

.sinal-azul-leg-2 {
  background-color: #1E90FF;
}

.sinal-azul-leg-3 {
  background-color: #00BFFF;
}

.sinal-azul-leg-4 {
  background-color: #87CEFA;
}

.sinal-azul-leg-5 {
  background-color: #ADD8E6;
}


.container-sig {
  display: flex;
  width: 95px;
  justify-content: space-around;
  margin-right: 16px;
}

.sig-square {
  border: 1px solid #6e778b;
  height: 15px;
  width: 18px;
  border-radius: 2px;
}

.sig-square-base {
  border: 1px solid #6e778b;
  height: 14px;
  width: 24px;
  border-radius: 4px;
}

.sig-negative {
  background-image: url(./assets/icones/sig-negative.svg) !important;
  background-repeat: no-repeat !important;
  width: 20px;
  height: 20px;
}

.sig-positive {
  background-image: url(./assets/icones/sig-positive.svg) !important;
  background-repeat: no-repeat !important;
  width: 20px;
  height: 20px;
}

.sig-vazio {
  width: 20px;
  height: 20px;
}

.seta-pontinhada {
  background-image: url(./assets/icones/seta-pontinhada.svg) !important;
  background-repeat: no-repeat !important;
  width: 20px;
  height: 30px;
  position: relative;
  top: -16px;
  right: 8px;
}

.seta-down {
  background-image: url(./assets/icones/seta-down.svg) !important;
  background-repeat: no-repeat !important;
  width: 14px;
  height: 14px;
}

.seta-up {
  background-image: url(./assets/icones/seta-down.svg) !important;
  background-repeat: no-repeat !important;
  width: 14px;
  height: 14px;
  transform: rotate(180deg);
}

.sinal-neg-pos {
  background-image: url(./assets/icones/sinal-neg-pos.svg) !important;
  background-repeat: no-repeat !important;
  width: 20px;
  height: 20px;
}

.icone-coracao {
  background-image: url(./assets/icones/icone-coracao.svg) !important;
  background-repeat: no-repeat !important;
  height: 32px;
}

.icone-efeito {
  background-image: url(./assets/icones/icone-efeito.svg) !important;
  background-repeat: no-repeat !important;
  height: 32px;
}

.icone-equity {
  background-image: url(./assets/icones/icone-equity.svg) !important;
  background-repeat: no-repeat !important;
  height: 32px;
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: none !important;
}

::ng-deep .ng-select .ng-select-container .ng-value-container {
  display: flex !important;
  justify-content: center !important;
  height: auto;
  max-height: 60px;
  overflow-x: hidden;
}

.base-vermelha {
  color: red !important;
}
