.container-filtro {
  // width: 390px;
  padding: 16px 0px 15px 16px;
  height: 72px;
  display: flex;

  @media screen and (max-width: 1020px) {
    width: auto;
    margin-left: 97px;
    display: none;
  }
}

.container-filtro-mobile {
  padding: 16px;
  height: 72px;
  display: none;

  @media screen and (max-width: 1020px) {
    width: 100%;
    display: contents;
  }
}

.group-filtro {
  margin-right: 16px;
  // width: 150px;
  @media screen and (max-width: 1020px) {
    padding: 14px 12px 20px 12px;
    margin: auto;
  }
}

.selectFiltroGlobal,
.selectFiltroMarca,
.selectFiltroRegiao,
.selectFiltroDemografico,
.selectFiltroTarget {
  background: #fefefe;
  border: 0px solid transparent;
  box-sizing: border-box;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #000000;
}

::ng-deep .ng-select.selectFiltroGlobal .ng-select-container {
  height: 40px;
  border: 0px solid;
  width: max-content;

  @media screen and (max-width: 1020px) {
    width: 90% !important;
  }
}

::ng-deep .ng-select.selectFiltroMarca .ng-select-container {
  height: 40px;
  border: 0px solid;
  width: max-content;

  @media screen and (max-width: 1020px) {
    width: 90% !important;
  }
}

::ng-deep .ng-select.selectFiltroRegiao .ng-select-container {
  border: 0px solid;
  max-width: 195px;
  width: auto;
  text-align: left;
  @media screen and (max-width: 1020px) {
    width: 90% !important;
  }
}

::ng-deep .ng-select.selectFiltroRegiao .ng-select-container .ng-value-container {
  display: flex !important;
  justify-content: left !important;
  height: auto;
  max-height: 60px;
  overflow-x: hidden;
}

::ng-deep .ng-select.selectFiltroDemografico .ng-select-container {
  border: 0px solid;
  max-width: 146px;
  text-align: center;
  @media screen and (max-width: 1020px) {
    width: 90% !important;
  }
}

::ng-deep .ng-select.selectFiltroDemografico .ng-select-container .ng-value-container {
  display: flex !important;
  justify-content: left !important;
  height: auto;
  max-height: 60px;
  overflow-x: hidden;
}

::ng-deep .ng-select.selectFiltroTarget .ng-select-container {
  border: 0px solid;
  max-width: 216px;
  text-align: center;
  @media screen and (max-width: 1020px) {
    width: 90% !important;
  }
}

::ng-deep .ng-select.selectFiltroTarget .ng-select-container .ng-value-container {
  display: flex !important;
  justify-content: left !important;
  height: auto;
  max-height: 75px;
  overflow-x: hidden;
}

::ng-deep.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #1b212d;
}

::ng-deep .ng-option-label {
  // background: #fefefe;
  // border: 0px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #000000;
  justify-content: initial;
}

::ng-deep .ng-select.selectFiltroMarcas .ng-option-label {
  // background: #fefefe;
  // border: 0px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px !important;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #000000;
  justify-content: center;
  // width: 245px;
}

::ng-deep .ng-dropdown-panel.selectFiltroDestacar .ng-dropdown-panel-items .ng-option {
  background-color: red !important;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 10px;
}

.selectFiltroDestacar {
  background: rgba(223, 223, 223, 0.527) !important;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 10px;
  margin: -6px;
  width: 192px;
}

// ::ng-deep .ng-dropdown-panel.selectFiltroDestacar .ng-dropdown-panel-items .ng-option {
//   background-color: rebeccapurple !important ;
//   color: rgba(0,0,0,0.87);
//   padding: 8px 10px;
// }

.btn-filtrar {
  width: 103px;
  height: 40px;
  background: #4056b7;
  border-radius: 3px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
  cursor: pointer;
  @media screen and (max-width: 1020px) {
    position: fixed;
    width: 270px;
    // bottom: 80px;
  }
}

.titulo-filtros-mobile {
  font-style: normal;
  font-weight: 600;
  font-size: 21.3868px;
  line-height: 26px;
  color: #3b3e44;
}

.linha-separacao {
  width: 100%;
  background: #3b3e4429;
  height: 1px;
}

::ng-deep .ng-dropdown-panel {
  background-color: #fff !important;
  border: 0px solid #ccc !important;
  box-shadow: 0 0px 0 rgb(0 0 0 / 6%) !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  position: inherit !important;
  z-index: 1;
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: none !important;
}

::ng-deep .ng-select .ng-select-container .ng-value-container {
  display: flex !important;
  justify-content: center !important;
  height: auto;
  max-height: 60px;
  overflow-x: hidden;

  @media screen and (max-width: 1020px) {
    justify-content: left !important;
  }
}

// ::ng-deep .ng-dropdown-panel {
//   width: fit-content !important;
// }

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  width: max-content !important;
  min-width: 160px;
}

.container-titulo-mobile-filtro {
  padding: 10px 27px 9px 27px;
  background: #fafafa;
  border-radius: 0px 10px 0px 0px;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fechar-menu-icone {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
