<!-- NAVBAR -->
<header class="topbar">
  <div class="logo-area">
    <img src="assets/login/Regular.svg" alt="Ipsos" class="logo" />
    <div> Ipsos Painel de Postos</div>
  </div>
  <div>
    <nav class="top-links">
      <a class="link">Dashboard</a>
      <button class="btn-primary">Cadastro Usuário
      </button>
    </nav>
  </div>

  <div class="user-area">
    <span class="avatar">UA</span>
  </div>
</header>

<!-- CONTAINER -->
<div class="page-container" *ngIf="!activeCadastro">

  <!-- TÍTULO + AÇÕES -->
  <div class="header-title">
    <div>
      <h1>Proprietário</h1>
      <p class="subtitle">Manage your surveys and questionnaires</p>
    </div>

    <div class="actions">

    </div>
  </div>

  <div class="header-title">
    <!-- ABAS -->
    <div class="tabs">
      <button class="tab" [class.active]="abaAtiva === 'ativo'"
        (click)="trocarAba('ativo')">Ativo</button>
      <button class="tab" [class.activeIn]="abaAtiva === 'inativo'"
        (click)="trocarAba('inativo')">Inativo</button>
    </div>

    <!-- BUSCA + FILTROS -->
    <div class="filters">
      <div class="search-box">
        <span class="search-icon"><div class="searchIps"></div></span>
        <input type="text" placeholder="Pesquise aqui..." [(ngModel)]="pesquisa"
          (input)="onPesquisar()" />
        <span class="shortcut">⌘ F</span>
      </div>
    </div>

    <div class="actions">
      <button class="btn-select">Todos <span class="arrow">▾</span></button>
      <button (click)="changeCadastro(true)" class="btn-new">Novo Proprietário
        <span
          class="plus">+</span></button>
    </div>
  </div>

  <!-- TABELA -->
  <div class="table-card">
    <table class="table">
      <thead>
        <tr>
          <th>Ações</th>
          <th>Nome / Email</th>
          <th>Posição</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let p of pagedList">
          <td class="col-actions">
            <button class="icon-btn"><div class="btn-shop"></div></button>
            <button class="icon-btn"><div class="btn-edit"></div></button>
            <button class="icon-btn"><div class="btn-block"></div></button>
          </td>

          <td class="col-name">{{ p.nome }}</td>

          <td>
            <span class="tag">{{ p.posicao }}</span>
          </td>

          <td class="col-email">{{ p.email }}</td>
        </tr>

        <tr *ngIf="pagedList.length === 0">
          <td colspan="4" class="empty">Nenhum registro encontrado.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- PAGINAÇÃO -->
  <div class="pagination">
    <button class="nav-btn" (click)="prevPage()"
      [disabled]="currentPage === 1">‹ Retornar</button>

    <div class="pages">
      <button *ngFor="let pg of pages" (click)="goToPage(pg)"
        [class.active]="pg === currentPage">
        {{ pg }}
      </button>
    </div>

    <button class="nav-btn" (click)="nextPage()"
      [disabled]="currentPage === totalPages">Avançar ›</button>
  </div>

</div>

<!-- CADASTRO -->

<div class="page-container" *ngIf="activeCadastro">

  <div class="header-title">
    <div>
      <h1>Cadastro do Posto de Gasolina</h1>
      <p class="subtitle">Preencha os campos necessários para o cadastro do
        posto de gasolina</p>
    </div>
  </div>

  <div class="page-wrapper">
    <!-- SIDEBAR -->
    <aside class="sidebar">
      <h2 class="sidebar-title">Configurações</h2>
      <nav class="menu">
        <div class="menu-item active">Dados do Proprietário</div>
        <div class="menu-item">Contato</div>
        <div class="menu-item">Upload Contrato</div>
      </nav>
    </aside>

    <!-- CONTEÚDO -->
    <main class="content">
      <h1 class="title">Dados do Proprietário</h1>

      <p class="description">
        Esta seção reúne os dados essenciais para início do preenchimento.
        Mantenha as informações claras e atualizadas para garantir a
        continuidade
        do processo.
      </p>

      <!-- FORMULÁRIO -->
      <form class="form">

        <!-- Nome -->
        <div class="form-group">
          <label>Nome do proprietário <span class="required">*</span></label>
          <input type="text" placeholder="Qual é o nome completo?"
            [(ngModel)]="model.nome" name="nome">
        </div>

        <!-- CPF -->
        <div class="form-group">
          <label>CPF</label>
          <input type="text" placeholder="000.000.000-00"
            [(ngModel)]="model.cpf" name="cpf">
        </div>

        <!-- Status -->
        <div class="form-group">
          <label>Status</label>

          <select [(ngModel)]="model.status" name="status">
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
          </select>
        </div>
      </form>

      <!-- AÇÕES -->
      <div class="actions">
        <button class="btn-cancel" (click)="cancelar()">Cancelar
          cadastro</button>
        <button class="btn-submit" (click)="salvar()">Criar Cadastro</button>
      </div>
    </main>
  </div>

</div>
